<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Orders", orders_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Callbacks", open_calls_path, class: "nav-link" %>
        </li>
        <% if current_user.admin? %>
          <li class="nav-item">
            <% if UserOnline.useronline?(current_user) == true %>
               <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Available
                </label>
                <label class="btn btn-secondary">
                  <%= link_to user_online_path(current_user),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do %>
                  <input type="radio" name="options" id="option3" autocomplete="off"> Offline
                  <% end %>
                </label>
              </div>
            <% else %>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Offine
              </label>
              <label class="btn btn-secondary">
                <%= link_to user_onlines_path, method: :post do %>
                  <input type="radio" name="options" id="option2" autocomplete="off"> Available
                <% end %>
              </label>
            </div>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "icon.ico", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item", id: "logout"%>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

