<% title "#{@order.order_no} Repair"%>
<div class="container-fluid">
  <div class="row justify-content-md-center">
    <nav class="col-md-2 offline">
      <ul class="nav flex-column">
        <strong><h4 class="text-center">Controls</h4></strong>
        <li class="nav-item">
          <% if policy(@order).update? %>
            <%= link_to edit_order_path(@order), class:"nav-link-order" do %>
            <i class="fas fa-folder-plus"> Update Order</i>
          <% end %>
        </li>
        <li class="nav-item">
          <% if @order.bap_ship == true %>
            <%= link_to create_bnp_path(@order), class: "nav-link-order",
                  data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-box-open">Print Box Labels</i>

              <% end %>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if policy(Payment).create? %>
              <%= link_to new_order_payment_path(@order), id: "payment-id", class:"nav-link-order" do %>
                <i class="fas fa-shopping-cart"> Charge Payment<span class="badge badge-light"><%= humanized_money_with_symbol(@order.amount - @order.paid) %></span></i>
              <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link-order" onclick="printJS('<%= packing_slip_order_path(@order, format: :pdf) %>')"> <i class="fas fa-folder-open"> Print Slip</i></a>
        </li>
        <li class="nav-item">
          <% if policy(OrderItem).create? %>
            <%= link_to new_order_order_item_path(@order), class:"nav-link-order" do %>
              <i class="fas fa-cart-plus"> Add Order</i>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if policy(Image).create? %>
            <%= link_to new_order_image_path(@order), class: "nav-link-order" do %>
              <i class="fas fa-images"> Add Images</i>
            <% end %>
          <% end %>
        </li>
        <% if @order.receivings.empty? %>
          <li class="nav-item">
            <% if policy(Receiving).create? %>
              <%= link_to new_order_receiving_path(@order), class:"nav-link-order" do %>
              <i class="fas fa-shipping-fast"> Receive Product</i>
            <% end %>
          <% end %>
        </li>
        <% else %>
          <% if @order.order_status == "Completed, Shipped" || @order.order_status == "Completed, Disposed" %>
          <% else %>
            <li class="nav-item">
              <% if policy(Repair).create? %>
                <a id="repair_btn" type="button" data-toggle="modal" class="nav-link-order" data-target="#repairModal"><i class="fas fa-tools"> Repair Update</a></i>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <li class="nav-item">
          <a type="button" class="nav-link-order" data-toggle="modal" data-target="#notesModal"><i class="fas fa-sticky-note"> Add Comment</a></i>
        </li>
      </ul>
    </nav>
    <div class="col show-page-order">
      <h1>Order No. <%= @order.order_no %> - <%= @order.order_status %></h1>
      <div class="row">
        <div class="col-6 col-md-4">
          <p>
            Case No.
            <%= @order.case_no %><br>
            Created On
            <%= @order.created_at.strftime("%b %d, %Y") %><br>
          </p>
        </div>
        <div class="col-md-6  ml-auto">
          <%= @order.first_name %> <%= @order.last_name %> <%= @order.telephone_no %>
          <a href="mailto:<%= @order.email %>?subject=Funai Repair Order No. <%= @order.order_no %>-<%= @order.product.model_no %>">e-mail</a>
          <address>
            <%= @order.address %>
            <%= @order.address2 %>
            <%= @order.city %>
            <%= @order.state %>
            <%= @order.zip %>
          </address>
        </div>
        <div class="col-md-auto order-details">
          <h4>Product</h4>
          <ul class="list-group p-2">
            <li class="list-group-item">Model No: <%= @order.product.model_no %></li>
            <li class="list-group-item">Serial No: <%= @order.serial_number %></li>
            <li class="list-group-item">Symptom: <%= @order.symptom %></li>
          </ul>
        </div>
        <div class="col-4 order-details">
          <h4>Order Total</h4>
          <ul class="list-group p-2">
            <li class="list-group-item">
              Total:<%= humanized_money_with_symbol(@order.amount) %>
            </li>
            <li class="list-group-item">
              Paid: <%= humanized_money_with_symbol(@order.paid) %>
            </li>
            <li class="list-group-item">
              Pending: <%= humanized_money_with_symbol(@order.amount - @order.paid) %>
            </li>
          </ul>
        </div>
        <div class="col-md-auto order-details">
          <h4>Order Details</h4>
          <div class="col">
            <ul class="list-group">
              <% @order.order_items.each do |repair| %>
              <li class="list-group-item"><%= repair.repair_rate.name %>-<%= humanized_money_with_symbol(repair.repair_rate.price) %>
                <% if policy(OrderItem).destroy? %>
                  <%= link_to order_item_path(repair),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
          </div>
        </div>
        <div class="col-md-auto order-details">
          <h4>Shipping</h4>
            <% if @order.shippings.empty? %>
              <span>Awaiting order</span>
            <% else %>
            <ul class="list-group">
              <% @order.shippings.each do |item| %>
                <li class="list-group-item">
                  <%= item.name %> - <%= item.ready_ship == false ? "Awaiting on Payment" : link_to(item.shipout_tracking, "https://www.fedex.com/apps/fedextrack/?tracknumbers=#{item.shipout_tracking}&language=en&cntry_code=us", target: "_blank") %>
                  <% if item.label.nil? %>
                  <% else %>
                     <button class="btn btn-secondary btn-sm float-right" type="button" onclick="printJS('<%= root_path + item.label %>')">
                        <i class="fas fa-file-pdf"> Print</i>
                     </button>
                   <% end %>
                   <% if policy(Shipping).resend? %>
                    <% if item.name == "Return Label Fee" %>
                      <% if item.ready_ship == false %>
                      <% else %>
                        <%= link_to(resend_order_shipping_path(@order, item), data: { confirm: "Are you sure?" }, class: "btn btn-secondary btn-sm") do %>
                          <i class="fas fa-paper-plane"> Resend</i>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="col-md-auto order-details">
          <h4>Photos</h4>
          <% if @order.images.blank? %>
            <p>No photos are available</p>
          <% else %>
            <% @order.images.each do |item| %>
              <%= link_to item.image.url do %>
                <%= image_tag(item.image.url, class: "img-thumbnail sm-preview") %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-auto order-details">
          <h4>Received</h4>
          <% @order.receivings.each do |receive| %>
            <%= receive.model_no %>
            <%= receive.serial_number %>
            <%= receive.receive_courier %>
            <%= receive.receive_tracking %>
            <%= receive.created_at.strftime("%b %d, %Y") %>
        <% end %>
      </div>
      <div class="col-md-auto order-details">
        <h4>Repair Notes</h4>
        <ul>
          <% @order.repairs.each do |repair| %>
            <li>
              <%= repair.status %>
              <%= repair.comment %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-auto order-details">
        <h4>Notes</h4>
        <ul>
         <% @order.notes.each do |note| %>
            <li>
            <%= User.find_by_id(note.user_id).first_name %>
            <%= note.created_at.strftime("%b %d, %Y") %>
            </li> <%= note.comment %>
          <% end %>
        </ul>
    </div>
  </div>
</div>

<!-- Modal Notes -->
<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@order, @note] do |f| %>
          <%= f.input :comment %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save change", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Order Status -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Add Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@order, as: :order, url: order_path(@order), method: :PUT) do |f| %>
          <%= f.input :order_status, collection: ["Order Created", "Order Cancelled", "Item received", "Item in repair", "Completed, Shipped"], prompt: "Select Status" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save change", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Repair Notes -->
<div class="modal fade" id="repairModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Repair Section</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="repair_modal">
        <%= simple_form_for [@order, @repair] do |f| %>
          <%= f.select :status, [ "Diagnosed", "Reviewed", "Dispose", "Repair Completed"] %>
          <%= f.input :comment %>
           <%= simple_fields_for :no_model_fields do |n| %>
            <%= n.input :repair_charge, collection: ["Major", "Minor", "Non-repairable"], prompt: "Select Status" %>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save change", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  const repairStatusBtn = document.getElementById("repair_status")
  const repairBtn = document.getElementById("repair_btn")
  const repairModal = document.getElementById("repair_modal")
  const repairComment = document.querySelector(".repair_comment")
  const repairCharge = document.querySelector(".no_model_fields_repair_charge")

  repairBtn.addEventListener("click", () => {
    if(repairStatusBtn.value != "Reviewed"){
      repairComment.style.display = "none";
      repairCharge.style.display = "none";
    } else {
      repairComment.style.display = "inherit";
      repairCharge.style.display = "inherit";
    }
    repairStatusBtn.addEventListener("change", ()=> {
      if(repairStatusBtn.value != "Reviewed"){
      repairComment.style.display = "none";
      repairCharge.style.display = "none";
      } else {
      repairComment.style.display = "inherit";
      repairCharge.style.display = "inherit";
      }
    });
  });
</script>
<script>
  const paymentPageLink = document.getElementById("payment-id")
  if(paymentPageLink.innerText == " Charge Payment$0"){
    paymentPageLink.classList.add("disabled");
  }
</script>
