<div class="container">
  <div class="row">
    <div class="col-6 col-md-4 show-page-order">
      <h1>Order No.
      <%= @order.order_no %></h1>
      <div class="col">
        <h6>
          Case No.
          <%= @order.case_no %><br>
          Created On
          <%= @order.created_at.strftime("%b %d, %Y") %><br>
          Order Status
          <%= @order.order_status %>
        </h6>
      </div>
      <div class="col">
        Shipping address
        <address>
          <%= @order.address %>
          <%= @order.address2 %>
          <%= @order.city %>
          <%= @order.state %>
          <%= @order.zip %>
        </address>
        Contact Info
        <address>
          <%= @order.telephone_no %>
          <% if @order.email.empty? %>
          <% else %>
            <a href="mailto:<%= @order.email %>"><%= @order.email %></a>
          <% end %>
        </address>
      </div>

        <ul class="list-group">
        <li class="list-group-item">Model No: <%= @order.product.model_no %></li>
        <li class="list-group-item">Serial No: <%= @order.serial_number %></li>
        <li class="list-group-item">Symptom: <%= @order.symptom %></li>
      </ul>
      <%= link_to "Update Order", edit_order_path(@order), class: "btn btn-primary" %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orderModal">
        Update Status
      </button>
    </div>
    <div class="col-6 col-md-5 show-page-order">
      <h1>Transactions</h1>
      <h1>Repair Status</h1>
      <h1>Notes</h1>
      <% @order.notes.each do |note| %>
        <%= note.comment %>
        <%= User.find_by_id(note.user_id).first_name %>
        <%= note.created_at.strftime("%A, %b %d") %>
      <% end %>
      <button type="button" class="btn btn-primary button-holder-left" data-toggle="modal" data-target="#notesModal">
        Add Note
      </button>
      <%= link_to "Receive", new_order_receiving_path(@order), class: "btn btn-primary button-holder-right" %>
    </div>
    <div class="col-6 col-md-8 show-page-order">
      <h1>Received</h1>
      <table id="receive" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Receive Model</th>
                <th>Receive Serial No</th>
                <th>Receive Courier</th>
                <th>Receive Tracking</th>
                <th>Receive Date</th>
            </tr>
        </thead>
        <tbody>
          <% @order.receivings.each do |receive| %>
            <tr>
                <td><%= receive.model_no %></td>
                <td><%= receive.serial_number %></td>
                <td><%= receive.receive_courier %></td>
                <td><%= receive.receive_tracking %></td>
                <td><%= receive.created_at.strftime("%A, %b %d") %></td>
            </tr>
          <% end %>
        </tbody>
    </table>

    </div>
  </div>
</div>

<!-- Modal Notes -->
<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@order, @note] do |f| %>
          <%= f.input :comment %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save change", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Notes -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Add Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@order, as: :order, url: order_path(@order), method: :PUT) do |f| %>
          <%= f.input :order_status, collection: ["Order Created", "Order Cancelled", "Item received", "Item in repair", "Completed, Shipped"], prompt: "Select Status" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save change", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
