<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col show-page-order">
      <h1>
        Order No.
        <%= @order.order_no %> - <%= @order.order_status %> <%= link_to "Update Order", edit_order_path(@order), class: "btn btn-primary btn-sm" %>
        <% if @order.bap_ship == true %>
         <%= link_to "#{@order.product.model_no} BAP Labels", create_bnp_path(@order),
            data: { confirm: "Are you sure?" }, class: "btn btn-warning btn-sm" %>
        <% end %>
        <button type="button" class="btn btn-success btn-sm" onclick="printJS('<%= packing_slip_order_path(@order, format: :pdf) %>')">
          Print Packing Slip
        </button>
      </h1>
      <div class="row">
        <div class="col-6 col-md-4">
          <p>
            Case No.
            <%= @order.case_no %><br>
            Created On
            <%= @order.created_at.strftime("%b %d, %Y") %><br>
          </p>
        </div>
        <div class="col-6 col-md-4">
          Shipping address
          <address>
            <%= @order.address %>
            <%= @order.address2 %>
            <%= @order.city %>
            <%= @order.state %>
            <%= @order.zip %>
          </address>
        </div>
        <div class="col-6 col-md-4">
          Contact Info
          <address>
            <%= @order.telephone_no %>
            <% if @order.email.empty? %>
            <% else %>
              <a href="mailto:<%= @order.email %>?subject=Funai Repair Order No. <%= @order.order_no %>-<%= @order.product.model_no %>"><%= @order.email %></a>
           <% end %>
          </address>
        </div>
        <div class="col-md-auto">
          <h4>Model</h4>
          <ul class="list-group">
            <li class="list-group-item">Model No: <%= @order.product.model_no %></li>
            <li class="list-group-item">Serial No: <%= @order.serial_number %></li>
            <li class="list-group-item">Symptom: <%= @order.symptom %></li>
          </ul>
        </div>
        <div class="col-md-auto">
           <h4>Order Total</h4>
            Total:<%= humanized_money_with_symbol(@order.amount) %>
            Paid: <%= humanized_money_with_symbol(@order.paid) %>
            Pending: <%= humanized_money_with_symbol(@order.amount - @order.paid) %>
            <h5>Charge Fees</h5>
            <%= link_to "Charge", new_order_payment_path(@order) %>
        </div>
        <div class="col-md-auto">
          <h4>Order Details</h4>
          <%= link_to "Add Items", new_order_order_item_path(@order), class: "btn btn-primary btn-sm" %>
          <div class="col">
            <ul class="list-group">
              <% @order.order_items.each do |repair| %>
              <li class="list-group-item"><%= repair.repair_rate.name %>-<%= humanized_money_with_symbol(repair.repair_rate.price) %><%= link_to "Remove", order_item_path(repair),
          method: :delete,
          data: { confirm: "Are you sure?" }, class: "btn btn-warning btn-sm" %></li>
            <% end %>
          </ul>
          </div>
        </div>
        <div class="col-md-auto">
          <h4>Shipping</h4>
          <ul>
            <% if @order.shippings.nil? %>
            <% else %>
            <% @order.shippings.each do |item| %>
              <li>
                <%= item.name %> - <%= item.ready_ship == false ? "Awaiting on Payment" : link_to(item.shipout_tracking, root_path + item.label, target: "_blank") %>
                <% if item.label.nil? %>
                <% else %>
                   <button type="button" onclick="printJS('<%= root_path + item.label %>')">
                      Print PDF
                   </button>
                 <% end %>
                <% if item.name == "Return Label Fee" %>
                  <%=  item.ready_ship == false ? "" : link_to("resend email", resend_order_shipping_path(@order, item), class: "btn btn-success btn-sm") %>
                <% end %>
              </li>
            <% end %>
          <% end %>
          </ul>
        </div>
        <div class="col-md-auto">
          <h4>Photos</h4><%= link_to "Upload Photos", new_order_image_path(@order), class: "btn btn-secondary btn-sm" %>
          <% if @order.images.blank? %>
            <p>No photos are available</p>
          <% else %>
            <% @order.images.each do |item| %>
              <%= link_to item.image.url do %>
                <%= image_tag(item.image.url, class: "img-thumbnail sm-preview") %>
              <% end %>
            <% end %>
          <% end %>

        </div>
        <div class="col-md-auto">
          <% if @order.receivings.empty? %>
          <%= link_to "Receive", new_order_receiving_path(@order), class: "btn btn-primary btn-sm" %>
          <% else %>
          <h4>Received</h4>
            <% @order.receivings.each do |receive| %>
            <%= receive.model_no %>
            <%= receive.serial_number %>
            <%= receive.receive_courier %>
            <%= receive.receive_tracking %>
            <%= receive.created_at.strftime("%b %d, %Y") %>
          <% end %>
        <h4>Repair Status <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#repairModal">
        Repair Comments
        </button></h4>
        <% end %>
        <h4>Repair Notes</h4>
        <ul>
          <% @order.repairs.each do |repair| %>
            <li>
              <%= repair.status %>
              <%= repair.comment %>
            </li>
          <% end %>
        </ul>
        <h4>Notes <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#notesModal">
          Add Comment
        </button></h4>
        <ul>
         <% @order.notes.each do |note| %>
            <li>
            <%= User.find_by_id(note.user_id).first_name %>
            <%= note.created_at.strftime("%b %d, %Y") %>
            </li> <%= note.comment %>
          <% end %>
        </ul>
      </div>
  </div>
</div>

<!-- Modal Notes -->
<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@order, @note] do |f| %>
          <%= f.input :comment %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save change", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Order Status -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Add Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@order, as: :order, url: order_path(@order), method: :PUT) do |f| %>
          <%= f.input :order_status, collection: ["Order Created", "Order Cancelled", "Item received", "Item in repair", "Completed, Shipped"], prompt: "Select Status" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save change", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Repair Notes -->
<div class="modal fade" id="repairModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Repair Section</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@order, @repair] do |f| %>
          <%= f.select :status, [ "Diagnosed", "Dispose", "Repair Completed"] %>
          <%= f.input :comment %>
           <%= simple_fields_for :no_model_fields do |n| %>
            <%= n.input :repair_charge, collection: ["Major", "Minor", "Non-repairable"], prompt: "Select Status" %>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save change", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  const repairStatusBtn = document.getElementById("repair_status")
  const repairComment = document.querySelector(".repair_comment")
  const repairCharge = document.querySelector(".no_model_fields_repair_charge")

  repairStatusBtn.addEventListener("change", () =>{
    if(repairStatusBtn.value != "Diagnosed"){
      repairComment.style.display = "none";
      repairCharge.style.display = "none";
    } else {
      repairComment.style.display = "inherit";
      repairCharge.style.display = "inherit";
    }
  });
</script>

