<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Invoice</title>
</head>
<body>
  <%= image_tag attachments['logo.png'].url, alt: 'Our Photo', class: 'photo', height: "100px" -%>
  <p>Hi <%= @order.first_name %>,</p>
  <p>Thank you for your payment to Funai Service.<br>
  <strong>Model No: <%= @order.product.model_no %></strong>.</p>
  <p>Order No: <%= @order.order_no %></p>
  <ol>
    <% @order.order_items.each do |item| %>
    <li style="list-style-type: none;">
      <%= item.repair_rate.name %> - <%= item.repair_rate.price %>
    </li>
  <% end %>
  <p>Payment:</p>

  <% @order.payments.each do |payment| %>
   <li style="list-style-type: none;"> Charged: <%= JSON.parse(payment.payment)["payment_method_details"]["card"]["brand"].upcase%> $<%= payment.amount %> Date: <%= payment.created_at.strftime("%b %d, %Y") %></li>
  <% end %>
  </ol>
  <p>If you ordered a Shipping label or Box and Packaging you will receive another email notification once it is ready. Note, during the process you may receive mutiple emails from us.</p>
  <p>Thank you for being a value customer,</p>

  <p style="padding-top: 100px;background-color: white; text-align: center;">
      Funai Service Corporation
      2425 Speigel Dr.
      Groveport, OH 43125
  </p>
</body>
</html>
