<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Repair Completed</title>
</head>
<body>
  <%= image_tag 'logo.png', alt: 'Our Photo', class: 'photo', height: "50px" %>
  <p>Hi <%= @order.first_name %>,</p>
  <strong>Model No: <%= @order.product.model_no %></strong>.</p>
  <p>Order No: <%= @order.order_no %></p>
  <ol>
    <li style="list-style-type: none;">Shipping FedEx: <%= @shipping.shipout_tracking %></li>
    <li style="list-style-type: none;"><a href="https://www.fedex.com/apps/fedextrack/?tracknumbers=<%= @shipping.shipout_tracking %>">Track FedEx.com</a></li>
  </ol>
  <p>Thank you for being a valued customer,</p>
  <p style="padding-top: 75px; margin: 0; background-color: white; text-align: center;">
      Funai Service Corporation
      2425 Speigel Dr.
      Groveport, OH 43125
  </p>
</body>
</html>
