<div class="conainter">
  <div class="row">
    <div class="col-md-4">
      <%= @opencall.status %>
      <%= @opencall.first_name %>
      <%= @opencall.last_name %>
      <%= @opencall.product.model_no %>
      <%= @opencall.symptom %>
      <%= link_to "Update", edit_open_call_path(@opencall) %>
    </div>
  </div>
</div>
