<% title "Open Call #{@opencall.id}" %>
<div class="conainter">
  <div class="row" style="margin: 0;">
    <div class="button-control col-sm">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Controls
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <% if policy(OpenCall).edit? %>
              <%= link_to "Update", edit_open_call_path(@opencall), class: "dropdown-item" %>
           <% end %>
            <%= link_to "Back Open Calls", open_calls_path, class: "dropdown-item" %>
          </div>
        </div>
      </div>
    </div>
    <div class="timezones col-sm">
      <iframe src="http://free.timeanddate.com/clock/i6u2j3p4/n179/fn7/fs20/tct/pct/ftb/th2/ta1" frameborder="0" width="179" height="30" allowTransparency="true"></iframe>
      <iframe src="http://free.timeanddate.com/clock/i6u2j3p4/n64/fn7/fs20/tct/pct/ftb/th2/ta1" frameborder="0" width="179" height="30" allowTransparency="true"></iframe>
      <iframe src="http://free.timeanddate.com/clock/i6u2j3p4/n137/fn7/fs20/tct/pct/ftb/th2/ta1" frameborder="0" width="177" height="30" allowTransparency="true"></iframe>
    </div>
  </div>
  <div class="row" style="margin: 0;">
    <div class="col-md-auto col-lg-4">
      <h2 class="text-center">Open Status</h2>
    <ul class="text-left">
      <li><i class="fas fa-calendar-alt"></i> Created On: <%= @opencall.created_at.strftime("%b %d, %Y") %></li>
      <li><i class="fas fa-clipboard-check"></i> Status: <%= @opencall.status %></li>
      <li><i class="fas fa-phone"></i> Phone: <%= @opencall.telephone_no %></li>
      <li><i class="fas fa-envelope-open-text"></i> Email:
        <% if @opencall.email.empty? %>
        <% else %>
          <a href="mailto:<%= @opencall.email %>?subject=Funai Pending Repair-<%= @opencall.product.model_no %>"><%= @opencall.email %></a>
        <% end %>
      </li>
    </ul>
    </div>
    <div class="col-md-auto col-lg-4">
      <h2 class="text-center">Open Callback</h2>
      <ul class="text-left">
        <li><i class="fas fa-user-secret"></i> Customer: <%= @opencall.first_name %> <%= @opencall.last_name %></li>
        <li><i class="fas fa-box"></i> Model No.: <%= @opencall.product.model_no %></li>
        <li><i class="fas fa-file-alt"></i> Symptom: <%= @opencall.symptom %></li>
      </ul>
    </div>
    <div class="col-md-auto col-lg-4">
      <h2 class="text-center">FedEx Validate</h2>
      <ul class="text-left fedex-item">
          <li>Rating: <%= Shipping.shipping_address(@opencall).score %></li>
          <li>Confirmation: <%= Shipping.shipping_address(@opencall).confirmed %></li>
          <li>Type: <%= Shipping.shipping_address(@opencall).status %></li>
          <li>Address: <%= @opencall.address %> <%= @opencall.address2 %> <%= @opencall.city %> <%= @opencall.state %> <%= @opencall.zip %>
          </li>
      </ul>
    </div>
  </div>
  <div
    id="map"
    style="width: 100%;
    height: 426px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



